/* galaxy fold */
@media only screen and (max-width: 280px) {
    .boasVindas {
        top: 50%;
    }

    .icons {
        width: 20px;
        height: 20px;
    }
}

/* iphone em geral */
@media only screen and (max-width: 600px) {
    .dots {
        display: none;
    }

    .menuLateral {
        display: none;
    }

    aside {
        display: none;
    }

    .bar {
        display: none;
    }

    header {
        background-color: #1A1A1A;
    }

    .frame {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    main {
        width: 100%;
        height: 85%;
        overflow-y: auto;
    }

    footer {
        height: 10%;
        border-radius: 10px;
        background-color: #2C2C2C;
    }

    .footerIcons {
        display: none;
    }

    .rights {
        display: none;
    }

    .nomePag {
        margin: 7px 0px;
    }

    .bg {
        overflow-y: auto;
    }

    .menuFooter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .ulFooter {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .liFooter {
        width: 20%;
        height: 100%;
        padding: 15px 25px;
        transition: all 0.2s ease-in-out;
    }

    .liFooter:active {
        transform: scale(1.1);
    }

    .ulFooter>.liFooter {
        position: relative;
        display: inline-block;
    }

    .icons {
        width: 35px;
        height: 35px;
    }

    /* bemvindo.html */

    .boasVindas {
        top: 30%;
    }

    .photo {
        width: 90%;
        float: left;
        top: 30%;
    }

    .myPhoto {
        margin: 0px;
    }

    /* sobremim.html */

    .linhas {
        width: 10%;
    }

    .descricao {
        width: 90%;
    }

    .linhaLateral {
        display: none;
    }

    /* portfolio.html */

    .ulProj {
        width: 100%;
    }

    .proj {
        max-width: 300px;
    }
    .projAll {
        max-width: 320px;
    }

    .projFixado {
        max-width: 300px;
    }

    .liProj {
        max-width: 300px;
    }

    .projNome {
        font-size: 16px;
    }

    .projDesc {
        font-size: 10px;
    }

    .projAno {
        font-size: 10px;
    }

    .ulFavs {
        width: 100%;
    }

    .liFavs {
        max-width: 300px;
    }

    .navegacao {
        display: none;
    }
}

/* ipad mini */
@media only screen and (width: 768px) {
    .frame {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    header {
        height: 2%;
    }

    main {
        height: 95%;
    }

    .bar {
        height: 3%;
    }

    .boasVindas {
        top: 20%;
        left: 15%;
        text-align: center;
    }

    .photo {
        float: right;
        width: 95%;
        height: 60%;
        top: 30%;
    }

    .myPhoto {
        width: 100%;
        height: 120%;
        margin: -100px 0px;
    }
}

/* iPad Air */
@media only screen and (width: 820px) {
    .frame {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    header {
        height: 2%;
    }

    main {
        height: 95%;
    }

    .bar {
        height: 3%;
    }

    .boasVindas {
        top: 20%;
        left: 15%;
        text-align: center;
    }

    .photo {
        float: right;
        width: 95%;
        height: 60%;
        top: 35%;
    }

    .myPhoto {
        width: 100%;
        height: 110%;
        margin: -60px 0px;
    }
}

/* iPad pro */
@media only screen and (width: 1024px) {
    .frame {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    header {
        height: 2%;
    }

    main {
        height: 95%;
    }

    .bar {
        height: 3%;
    }

    .boasVindas {
        top: 20%;
        left: 25%;
        text-align: center;
    }

    .photo {
        float: right;
        width: 95%;
        height: 60%;
        top: 35%;
    }

    .myPhoto {
        width: 100%;
        height: 120%;
        margin: -100px 0px;
    }
}