@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #f1f1f1;
}

a {
  color: #f1f1f1;
  text-decoration: none;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-box {
  background: linear-gradient(90deg, rgba(255, 246, 196, 1) 0%, rgba(248, 203, 207, 1) 48%, rgba(202, 209, 251, 1) 100%);
  height: 100vh;
}

.frame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: 80%;
  background-color: #2C2C2C;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px -3px 24px rgba(3, 7, 18, 0.13);
}

header {
  position: relative;
  float: left;
  width: 100%;
  height: 5%;
  background-color: #2C2C2C;
  padding-left: 5px;
}

aside {
  position: relative;
  float: left;
  width: 5%;
  height: 90%;
  background-color: #2C2C2C;
}

main {
  position: relative;
  float: left;
  width: 95%;
  height: 90%;
  background-color: #1A1A1A;
}

footer {
  position: relative;
  float: left;
  width: 100%;
  height: 5%;
  background-color: #5E066E;
  text-align: center;
}

/* footer */

.footerIcons {
  margin: 1px 10px;
}

.rights {
  opacity: 50%;
  font-size: 10px;
  cursor: default;
}

.problemsIcons {
  width: 13px;
  height: 13px;
  margin: -3px 0px;
  cursor: default;
}

.problemsNumber {
  cursor: default;
}

.ulFooterIcons {
  width: auto;
  font-size: 10px;
  cursor: default;
}

.liFooterIcons {
  display: inline-block;
  width: auto;
  cursor: default;
}

.ulFooterIcons>.liFooterIcons {
  display: inline-block;
}

.bar {
  width: 100%;
  height: 7%;
  background-color: #202020;
  overflow: hidden;
}

.bg {
  width: 100%;
  height: 100%;
}

.dots {
  position: relative;
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 18px;
  margin: 7px 3px;
}

/* header */
#dot1 {
  background-color: #E14555;
}

#dot2 {
  background-color: #F5B433;
}

#dot3 {
  background-color: #30D938;
}

.nomePag {
  position: relative;
  text-align: center;
  margin: 2px 0px;
  font-size: 15px;
}

/* aside */

.menuLateral {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.menuFooter {
  display: none;
}

ul {
  position: relative;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  width: 100%;
  height: 40px;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.liMenu:hover {
  transform: scale(1.1);
}

.icons {
  position: relative;
  float: left;
  width: 26px;
  height: 26px;
}

/* bar */

.tab {
  position: relative;
  float: left;
  width: auto;
  height: 100%;
  background-color: #2C2C2C;
  padding: 5px;
  cursor: pointer;
  transition: position ease-in-out 0.5s;
}

#ativa {
  background-color: #1A1A1A;
}

.iconsTab {
  position: relative;
  float: left;
  padding-right: 5px;
}

.tabName {
  position: relative;
  float: left;
  font-size: small;
  padding-right: 5px;
}

.closeTab {
  display: none;
  position: relative;
  float: right;
  width: 15px;
  height: 15px;
  margin: 2px 0px;
  cursor: pointer;
}

/* bemvindo.html */
.boasVindas {
  position: relative;
  float: left;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  font-size: 50px;
  margin: 5px 0px;
}

h2 {
  font-size: 28px;
  margin: 5px 0px;
}

p {
  margin: 5px 0px;
}

.photo {
  position: relative;
  float: right;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  background-color: #D9D9D9;
  top: 46%;
  transform: translateY(-50%);
  margin: 0px 20px;
  overflow: hidden;
}

.myPhoto {
  width: 400px;
  height: 400px;
  margin: 0px -50px;
}

.social {
  position: relative;
  width: auto;
  height: 30px;

}

.ulSocial {
  width: 100%;
}

.liSocial {
  width: 18px;
}

.ulSocial>.liSocial {
  position: relative;
  display: inline-block;
}

.socialIcons {
  position: relative;
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.navegar {
  position: relative;
  width: auto;
  height: 30px;
}

.ulNavegar {
  width: 100%;
}

.liNavegar {
  width: auto;
}

.ulNavegar>.liNavegar {
  display: inline-block;
}

.textoNavegar {
  position: relative;
  float: right;
  font-size: 15px;
}

.textoNavegar:hover {
  text-decoration: underline;
}

.navIcons {
  position: relative;
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

/* sobremim.html */

.linhas {
  position: relative;
  float: left;
  width: 3%;
  height: 100%;
  background-color: #1A1A1A;
  color: #A0A0A0;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
}

.descricao {
  position: relative;
  float: left;
  width: 65%;
  height: auto;
  font-family: "JetBrains Mono", monospace;
  color: #BBBBB5;
}

.linhaLateral {
  position: relative;
  float: right;
  width: 30%;
  height: 100%;
  border-style: solid;
  border-color: #1A1A1A;
  border-width: 1px;
  border-left-color: #202020;
}

.tag {
  color: #3D85DB;
}

/* portfólio.html */

.containerProj {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: auto;
}

.projetos {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  background-color: transparent;
  margin: 0px 0px;
}

.projetos {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  background-color: transparent;
  margin: 20px 0px;
}

.classificacao {
  position: relative;
  float: left;
  width: 100%;
  height: 140px;
  background-color: transparent;
  margin: 10px 0px;
}

.ulProj {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.liProj {
  position: relative;
  display: inline-block;
  max-width: 350px;
  height: auto;
  border-radius: 5px;
  background-color: #2C2C2C;
  padding: 10px;
  overflow: hidden;
  margin-top: 5px;
  margin-right: 10px;
}

.proj {
  position: relative;
  display: inline-block;
  max-width: 350px;
  height: auto;
  border-radius: 5px;
  background-color: #2C2C2C;
  padding: 10px;
  overflow: hidden;
  margin-top: 5px;
  margin-right: 10px;
}

.projAll {
  position: relative;
  display: inline-block;
  width: 400px;
  height: auto;
  border-radius: 5px;
  background-color: #2C2C2C;
  padding: 10px;
  overflow: hidden;
  margin-top: 5px;
  margin-right: 10px;
}

.projFixado {
  position: relative;
  width: 350px;
  height: auto;
  border-radius: 5px;
  background-color: #2C2C2C;
  padding: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.divImgProj {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: #D9D9D9;
  overflow: hidden;
}

.imgProj {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.projNome {
  position: relative;
  float: left;
  padding-left: 5px;
  font-weight: 700;
  font-size: 20px;
}

.projDesc {
  position: relative;
  float: left;
  padding-left: 5px;
  font-size: 13px;
  color: #BBBBB5;
}

.projData {
  position: relative;
  float: left;
  padding-left: 5px;
  font-size: 13px;
  color: #BBBBB5;
}

.titulo {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin: 10px 0px;
}

.tituloNome {
  position: relative;
  float: left;
  margin: 0;
  margin-right: 5px;
}

.navegacao {
  position: relative;
  float: right;
  padding-right: 20px;
}

.mostrar {
  font-size: 13px;
  color: #BBBBB5;
}

.mostrar:hover {
  color: #f1f1f1;
  text-decoration: underline;
  cursor: pointer;
}

#fav {
  padding-bottom: 70px;
}

#fixado {
  position: relative;
  float: left;
  color: #626262;
}

.iconProjs {
  position: relative;
  float: left;
}

.recado {
  position: relative;
  background-color: #f1f1f1;
  color: #1A1A1A;
  border-radius: 20px;
  width: auto;
  height: auto;
  float: left;
  padding: 5px;
  margin: -5px 5px;
}

.textoRecado {
  position: relative;
  float: left;
  padding-left: 5px;
  margin: 0;
}

.fotoRecado {
  position: relative;
  float: left;
  background-color: #1A1A1A;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  overflow: hidden;
}

.recadoImg {
  width: 20px;
  height: 20px;
}

button {
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: #2C2C2C;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2C2C2C;
}

.ulFavs {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.liFavs {
  position: relative;
  display: inline-block;
  max-width: 350px;
  height: auto;
  border-radius: 5px;
  background-color: #2C2C2C;
  padding: 10px;
  overflow: hidden;
  margin-top: 5px;
  margin-right: 10px;
}

/* contato.html */

.containerContato {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  overflow-y: auto;
}

#seguir {
  font-weight: 700;
}

.ulSeguir {
  width: 100%;
  margin: 5px -5px;
}

.liSeguir {
  width: auto;
  height: auto;
}

.ulSeguir>.liSeguir {
  position: relative;
  display: inline-block;
}

.socialNome {
  color: #f1f1f1;
  position: relative;
  float: right;
  font-size: 15px;
}

.socialNome:hover {
  text-decoration: underline;
}

.faleCmg {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin: 10px 0px;
}

label {
  position: relative;
  float: left;
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0px;
}

form {
  position: relative;
  float: left;
  width: auto;
  height: auto;
  border-radius: 10px;
  background-color: #2C2C2C;
  padding-left: 10px;
  padding-right: 10px;
}

input {
  position: relative;
  float: left;
  width: 250px;
  height: 25px;
  background-color: #1A1A1A;
  color: #A0A0A0;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

input:focus {
  outline: #1A1A1A;
  border-color: #1A1A1A;
}

textarea {
  position: relative;
  float: left;
  background-color: #1A1A1A;
  color: #A0A0A0;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

textarea:focus {
  outline: #1A1A1A;
  border-color: #1A1A1A;
}

.emailBox {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  font-size: 10px;
  padding-bottom: 10px;
}

.email {
  position: relative;
  float: left;
  margin: 5px;
}

.btnEnviar {
  position: relative;
  float: right;
  width: 50px;
  height: auto;
  background-color: #f1f1f1;
  color: #1A1A1A;
  padding: 5px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btnEnviar:hover {
  transform: scale(1.1);
  background-color: #f1f1f1;
}

/* projetos.html */

.bgProjeto {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: transparent;
}

.voltar {
  display: none;
  position: relative;
  float: left;
  margin: 7px 0px;
  cursor: pointer;
  z-index: 1;
}

.iconVoltar {
  width: 20px;
  height: 20px;
}